html{
  box-sizing: border-box;
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}


body{
  background-color: orangered;
  font-size: 1rem;
  border: 5px solid red;
}

.front{
  margin: 5rem auto;
  max-width: 90rem;
  min-height: 85vh;
}
.Link{
  &,
  &:link,
  &:visited{
    text-decoration: none;
  }
  &:hover{
    text-decoration: underline;
  }
}
.header{
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFF7ED;
  font-family: 'Inter', sans-serif;
  &__main{
    font-size: 2rem;
    font-weight: 900;
    &>a{
      color:black;
    }
  }
  &__sub{
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-around;
    font-size: 1.6rem;
    &>a{
      color: #4D4D4D;
    }
  }
  
}
.home{
  background-image: url('./assets/image_53.png');
  background-size: cover;
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  font-family: 'Inter', sans-serif;
  color: white;
  padding: 6.5rem 3.5rem;
  &__head{
    font-size: 3.6rem;
    font-weight: 800;
  }
  &__description{
    font-weight: 500;
    font-size: 2rem;
  }
  &__btn{
    &,
    &:link,
    &:visited{
      border-radius: 5px;
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      background-color: #FF8C38;
      padding: 1rem 14rem;
      box-shadow: 0 .5rem .5rem rgba( black , .5);
      transition: all .5s;
      transform: translateY(0);
    }
    
    &:hover{
      transform: translateY(-3px);
    }
    &:active{
      transform: translateY(5px);
    }
  }

}
.footer{
  background-color: #252525;
  color: #AAAAAA;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about{
  background-color: #FFF7ED;
  &__pic{
    display: block;
    width: 100%;
  }
  &__desc{
    padding: 5rem 2.5rem;
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    justify-content: space-around;
    &--heading{
      font-weight: 700;
      font-size: 3.6rem;
    }
    &--content{
      font-weight: 500;
      font-size: 1.6rem;
    }
    &--card{
      background-color: #FFCC8D;
      padding: 3.2rem 3.8rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      justify-content: space-around;
    }
    &--head{
      & > h2{
        font-size: 2.4rem;
        font-weight: 700;
      }
    }
    &--btn{
      &,
      &:link,
      &:visited{
        width:21.5%;
        font-size: 1.5rem;
        color: white;
        font-weight: 700;
        text-decoration: none;
        background-color: #252525;
        padding: 1.2rem 2.2rem;
        border-radius: 5px;
        box-shadow: 0 .5rem .5rem rgba( black, .5);
        transition: all .5s;
        transform: translate(0);
      }
      &:hover{
        transform: translateY(-3px);
      }
      &:active{
        transform: translateY(5px);
      }
      
    }
  }
}
.vans{
  background-color: #FFF7ED;
  padding: 3.4rem 2.5rem;
  &__head{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  &__filter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5rem;
    &--btn{
      background-color: #FFEAD0;
      border: none;
      padding: 1rem 2rem;
      border-radius: 5px;
      box-shadow: 0 2px 2px rgba( black, .5);
      &:hover{
        background-color: #d4cdc4;
      }
    }
    &--clear{
      &,
      &:link,
      &:visited{
        font-size: 1.6rem;
        color: black;
        text-decoration: none;
        border-bottom: 1px solid black;
      }
      
    }
  }
  &__tiles{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }
  &__tile{
    width:23.5%;
    &>a{
      &,
      &:link,
      &:visited{
        text-decoration: none;
        color: black;
        font-family: 'Inter' , sans-serif;
      }
    }
    &--img{
      width:100%;
      border-radius: 3px;
      margin-bottom: 1rem;
    }
    &__info{
      display: flex;
      justify-content: space-between;
      &--price{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &>p{
          font-size: 1.3rem;
        }
      }
    }
    &__btn{
      text-decoration: none;
      color: black;
      font-size: 1.2rem;
      padding: 5px 1rem;
      background-color: #E17654;
      border-radius: 5px;
      box-shadow: 0 2px 1px rgba($color: #000000, $alpha: .5);
    }
  }

 
  
  
}

.van{
  &__container{
    background: #FFF7ED;
  }
  &__link{
    margin: 0 1.5rem 1.5rem;
    &>a{
      font-size: 1.5rem;
    }
  }
  &__info{
    padding: 1.5rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    &>button{
      width:10%;
      background: #E17654;
      color: white;
    }
  }
  &__desc{
    font-size: 1.5rem;
  }
  &__rent{
    text-decoration: none;
    padding: 1rem;
    background-color: #FF8C38;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    font-family: 'Inter' , sans-serif;
    font-weight: 700;
  }
}